/* @import url(header.css);
@import url(footer.css); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-image: linear-gradient(#8E9FB3, #DCE7F0);
} */

header{
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
}

.brand-name{
    font-family: 'Noto Serif Khojki', serif;
    display: flex;
    align-items: center;
    color: rgb(102, 102, 102);
}
.custom-center{
    margin: auto;
}

.carousel img{
    height: 400px;
}
.margin_line_height{
    margin: 25px;
    line-height: 200%
}

